<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<!-- <parameter name="device" value="android" /> -->
	<test name="androidTest">
		<classes>
			<class name="example.nativescript.NativeScriptTest" />
		</classes>
	</test> <!-- RegressionTest -->
</suite> <!-- Suite -->